# Terraform files
terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl

# Python
__pycache__/
*.pyc

# Ansible
ansible/*.retry
ansible/.ansible/

# General
.env
*.log

# Kubernetes
kubernetes/*.log

# Docker
docker/*.log
